<section class="benefits">

    <div class="benefits__wrapper">
      <h2 class="benefits__wrapper--title">Volverse organizado se siente mejor con OPEN SPACES</h2>
    </div>

    <include  
    src="./benefitTemplate.html"
    imgSrc="./assets/images/icon_1.png"
    alt="Pictograma de mesa con plantas"
    classname="benefits__icon1"
    title="Lo que necesitas"
    text="Una linea de productos diseñados para todos tus espacios"
    ></include>

   <include 
   src="./benefitTemplate.html"
   imgSrc="./assets/images/icon_2.png"
   alt="Pictograma de reciclaje"
   classname="benefits__icon2"
   title="Materias primas sustentables"
   text="Todos los productos con mateias primas sustentables"
   ></include>

  <include class="benefits__icon3"
  src="./benefitTemplate.html"
  imgSrc="./assets/images/icon_3.png"
  alt="Pictograma de cartel de indicaciones"
  classname="benefits__icon3"
  title="Guía"
  text="Soporte y asesoramiento para ayudarte con tu objetivo"
  ></include>


</section>