<header class="index-header" id="header">

    <div class="index-header__menu">

        <a class="index-header__menu--icon"   href="https://adalab.es/" target="_blank" ><i class="fa-solid fa-bars"></i></a>

        <img src="./assets/images/logo.png" alt="Logo Open Spaces">

    </div>

    <div class="index-header__slogan">

        <h1 class="index-header__slogan--title">Disfruta creando espacios</h1>
        <a href="#" 
        class="index-header__slogan--button">Comprar Ahora</a>
        
    </div>

</header>