<header class="index-header" id="header">

    <div class="index-header__menu">

        <nav>
            <ul class="index-header__menu--list">
                <li><a href="#">Productos</a></li>
                <li><a href="#">Colecciones</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="#">Inicio</a></li>
            </ul>
        </nav>

        <a class="index-header__menu--icon"   href="https://adalab.es/" target="_blank" ><i class="fa-solid fa-bars"></i></a>

        <img class="index-header__menu--logo" src="./assets/images/logo.png" alt="Logo Open Spaces">

    </div>

    <div class="index-header__slogan">

        <h1 class="index-header__slogan--title">Disfruta creando espacios</h1>
        <a href="#" 
        class="index-header__slogan--button">Comprar Ahora</a>
        
    </div>

</header>