.benefits {
  height: 1108px;
  width: 100%;
  display: grid;
  grid-template-areas:
    "title title title"
    ". icon1 ."
    ". icon2 ."
    ". icon3 .";
  grid-template-rows: 13% 1fr 1fr 1fr;
  grid-template-columns: 25% 50% 25%;

  &__title {
    grid-area: title;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 41px 80px 0px 80px;
  }

  &__icon1,
  &__icon2,
  &__icon3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;
    line-height: normal;

    h4 {
      margin-top: 47px;
      font-size: 20px;
      font-weight: bold;
    }
  }

  &__icon1 {
    grid-area: icon1;
  }

  &__icon2 {
    grid-area: icon2;
  }

  &__icon3 {
    grid-area: icon3;
  }

  @media all and (min-width: 900px) {
    height: 532px;
    grid-template-rows: 15% 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "title title title" "icon1 icon2 icon3";

    &__icon1 {
      padding-left: 70px;
    }

    &__icon2 {
      padding: 0px 30px;
    }

    &__icon3 {
      padding-right: 70px;
    }
  }

  @media all and (min-width: 1728px) {
    &__title {
      font-size: 36px;
    }

    &__icon1,
    &__icon2,
    &__icon3 {
      h4 {
        font-size: 24px;
      }
    }
  }
}
